body
{
	background-repeat: no-repeat;
	background-image: url("im.jpg");
	background-position: center;
	background-size: 1700px 1600px;

}
 .but
{
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100px;
  /* margin: 4px 2px;
 margin-right: 100px; */
  cursor: pointer;
  border-radius:10px;
}
.but1
{
  background-color: #1fffb8;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  margin: 4px 2px;
 margin-right: 100px;
  cursor: pointer;
  border-radius:100%;
 margin: auto;
}
